/*Header*/
header {
    width:100%;
    position:relative;
    top:0;
    left:0;
    font-family: 'Lora', serif;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

/*Image*/
.header-img{
    display: block;
    margin: auto;
    width: auto;
    height: 15rem;
}

#header-bottom{
    margin: auto;
    background-color: #ffe15e;
}
/*End of header*/

/* Navbar */
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    position: sticky;
    overflow: hidden;
}

.navbar li{
    display: inline;
}

.navbar_item a {
    color: #000;
    padding: 14px 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1rem;
}

/* Change the link color on hover */
.navbar_item a:hover {
    background-color: #ffba43;
}

/* Change link color of active page*/
.active {
    text-decoration: underline solid #f25c08 !important;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 5rem;
  border-bottom: .1rem solid #ffba43;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .body {
  padding-top: -10rem;
}
