/*Colors
    bg-yellow: #ffe15e;
    light-orange: #ffba43;
    medium-orange: #ff9100;
    dark-orange: #f25c08;
    red: #f22f08;
    nicer-red:#ec5739;
    black: #000000;

    title font

*/
body{
    /*background: #f22f08;*/
    background-image: linear-gradient(to right, #f22f08, #f23d06, #f24906, #f25306, #f25c08);

font-family: sans-serif;
}

.body{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
}

main{
    width: 100%;
    margin: 0 auto;
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 850px) {
    main {
        flex-direction: column !important;
    }
}


.content{
    width: 60%;
    margin-right: 2rem;
}

.content-column{
    display: flex;
    flex-direction: column;
}

.content-column-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 60%;
}

.content-column-item::after {
  content: "";
  background: url(../images/contentPlaceholder.jpg);
  background-size:contain;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:absolute;
  z-index: -1;
  background-repeat: no-repeat;
}

.title{
    width: 150%;
}

.text{
    vertical-align: middle;
    height: 100%;
}

.content-title{
    font-size: 3rem;
}

.content-subtitle{
    font-size: 2rem;
}

.content-text{
    font-size: 2rem;
}




.calendar{
    width: auto;
    padding: 2.5rem;
    background-color: #ffe15e;
    height: 600px;

}
