a.header {
  font-size: 1em;
  color: black;
  margin-top: 1em;
  font-weight: bold;
}


/*========== LOGOTYPE CSS ==========*/
#logoContainer {
  margin-top: 1em;
}
#logoTextContainer {
  float: left;
}
#logo{
    width: auto;
    height: 5rem;
    float: left;
}
#logo:hover {
  cursor: pointer;
}
.navbar-brand {
  color: black;
  font-family: 'Lora';
  font-size: 2em;
  margin: 0;
}
.navbar-brand:hover {
  color: black;
}
/*==================================*/


/*========== NAVBAR COLORS =========*/
nav {
  background-color: #ffdd4a; /* yellow */
}
ul.dropdown-menu {
  background-color: #ffdd4a; /* yellow */
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: #ffbf00; /* darker yellow */
}
ul.dropdown-menu > li > a:hover, ul.dropdown-menu > li > a:focus  {
  background-color: #ffbf00; /* darker yellow */
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #ffbf00; /* darker yellow */
}
a.header:hover {
  color: black;
}
/*==================================*/


/*==== HAMBURGER MENU ANIMATIONS ===*/
.hamburger {
  visibility: hidden;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 0.5em;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*==================================*/
