html {
  background-color: #ffdd4a; /* yellow */
}
body {
  /* Disable horizontal scrollbar */
  overflow-x: hidden;
  background-color: #ec764e; /* light red */
}


.pageContent {
  padding: 1em;
  background-color: #ec764e;
  min-height: 50em;
}
.pageFooter {
  clear: both;
  bottom: 0;
  position: relative;
  width: 100%;
}

h1 {
  color: black !important;
}

p {
  font-size: 1.2em;
  color: black;
}

a {
  font-size: 1.2em;
}

.frame {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em;
  text-align: center;
  width: auto;
  background-color: #8d2f23;
}
.frame-header {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
  color: #561e18;
}
/*========== CALENDAR CSS ==========*/

iframe {
  width: 100%;
  height: 100%;
  max-height: 40em;
  frameborder: 0;
  scrolling: no;
  border-width: 0;
}
/*==================================*/
